@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-normal-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

/* share tag  disply styles */
.navbar,
.nav-container,
.quick-features-section,
.some-fact-container {
    display: flex;
}

/* share tag disply grid */
.quick-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.sopnspors-image {
    display: grid;

}

/* share tag styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

.brand-button {
    width: 180px;
    height: 64px;
    border-radius: 10px;
    padding: 20px 25px;
    background-color: #FF900E;
    border: none;
    font-size: 20px;
    font-weight: 600px;
    color: #FFFFFF;

}

/* Navbar section */
header {

    background-color: rgba(255, 144, 14, 0.1);
}

.navbar,
.brand-container {
    max-width: 1440px;
    margin: 60px auto;
}

.navbar {

    align-items: center;
    justify-content: space-between;

}

.start {
    font-size: 42px;
    font-weight: bold;
    color: #131313;
}

.nav-container {
    /* display: flex; */
    gap: 50px;
    text-align: center;
}

.nav-container a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500px;
    color: #424242;

}

.brand-container {
    text-align: center;
}

.brand-container h1 {
    font-size: 64px;
    font-weight: bold;
    color: #131313;
}

.brand-container p {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}



.brand-container img {
    width: 100%;
    margin: 50px auto;

}

/* Navigation bar End */

/* quick list Features starts s */



.quick-features-section {
    align-items: center;
    gap: 73px;
    margin-top: 85px;
    margin-bottom: 130px;
}

.quick-text-container {
    max-width: 540px;
    height: 305px;
}

.quick-tittle {
    font-size: 45px;
    font-weight: 500px;
    color: #727272;
}

.quick-tittle-black {
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}

.quick-tittle-orange {
    font-size: 45px;
    font-weight: bold;
    color: #FF900E;
}

.quick-description {
    font-size: 16px;
    font-weight: 400px;
    color: #727272;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 32px;
}

/* <!-- Enjoy features section starts --> */





/* <!-- Some facts Section Start --> */

.some-fact-main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    margin-bottom: 180px;
}

.fact-tittle {
    font-size: 45px;
    font-weight: bold;
    color: #131313;
    margin-top: 130px;
    margin-bottom: 24px;
}

.fact-description {
    max-width: 542px;
    font-size: 16px;
    font-weight: 400px;
    color: #727272;
    line-height: 26px;
    margin-bottom: 100px;
}

.number-tittle {
    font-size: 45px;
    font-weight: 600px;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 5px;
}

.icon-name {

    margin-bottom: 5px;
}

.fact-container-description {
    font-size: 16px;
    font-weight: 400px;
    color: #727272;
    margin-top: 10px;
}

.some-fact-container {
    width: 242px;
    height: 242px;
    border: 2px solid #FF900E;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Our sponspors section start */
.our-sponspors {
    text-align: center;
}

.sponspors-tittle {
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}

.sopnspors-description {
    width: 542px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-weight: 400px;
    color: #727272;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 50px;
}

.sopnspors-image {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
    justify-content: space-between;
    align-items: center;
}

.sopnspors-image img {
    width: 180px;
    height: 50px;
}




/* @media sereen  Queary Start */


@media screen and (max-width: 576px) {

    .navbar,
    .nav-container,
    .quick-features-section {
        flex-direction: column;
    }

    .quick-img-container,
    .some-fact-main-container,
    .sopnspors-image {
        grid-template-columns: repeat(1, 1fr);
    }

    .sopnspors-image {

        justify-items: center;
        gap: 35px;
    }

    .some-fact-main-container {
        justify-items: center;
        gap: 24px;
    }
}


@media screen and (min-width: 576px) and (max-width: 992px) {
    .quick-features-section {
        flex-direction: column;
    }

    .some-fact-container {
        width: 100%;
    }

    .sopnspors-image {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: 50px;
    }


    .some-fact-main-container {
        gap: 24px;
        justify-items: center;
        justify-content: center;
    }

    .some-fact-main-container {
        grid-template-columns: repeat(2, 1fr);
    }

}